.Content {
    padding: 20;
}

.Grid {
    margin-top: 20;
}

.cellEdit {
}

.cellEdit {
    color: #1a51a3;
}

.cellFrame {
    border-width: .5;
    border-color: #ccd7e8;
    border-radius: 0;
    padding: 0;
}


.eventsTitle {
    font-style: Bold;
    font-size: Medium;
}

.eventLogs {
    font-size: Small;
    color: #384a66;
}

.eventWindow {
    padding: 3;
    color: #1a51a3;
    background-color: transparent;
}
